@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-bar::-webkit-scrollbar {
    width: 10px;
}

.scroll-bar::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll-bar::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 20px;
}
